.App {
  background-color: #191920;
  width: 1000px;
  height: auto;

  @media (max-width: 767px) {
    width: 100vw;
  }

  .item-container {
    width: 900px;
    height: auto;
    padding: 0 250px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      width: 320px;
      padding: 0 21px;
    }

    @media (min-width: 48em) and (max-width: 79em) {
      width: 900px;
      padding: 0 auto;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      line-height: 12px;
      color: #ffffff;
      margin: 40px 0;
      float: left;
    }

    form {
      width: 500px;
      height: 40px;
      border-radius: 12px;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      align-items: center;
      gap: 8px;
      padding: 0 3px;

      @media (max-width: 767px) {
        width: 320px;
      }

      input {
        width: 400px;
        background-color: #191920;
        border: none;
        color: #ffffff;
        font-size: 16px;

        &::placeholder {
          color: #ffffff;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .editInput {
      width: 460px;
      height: 40px;
      border-radius: 12px;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      align-items: center;
      gap: 8px;
      padding: 0 3px;

      @media (max-width: 767px) {
        width: 320px;
      }

      input {
        width: 400px;
        background-color: #191920;
        border: none;
        color: #ffffff;
        font-size: 16px;

        &::placeholder {
          color: #ffffff;
        }

        &:focus {
          outline: none;
        }
      }
    }

    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
      width: 100%;

      li {
        width: 500px;
        height: 40px;
        margin-left: -35px;
        border-radius: 12px;
        background-color: #21202a;
        display: flex;
        align-items: flex-start;
        padding: 5px;
        gap: 9px;
        position: relative;

        @media (max-width: 767px) {
          width: 320px;
        }

        .custom-checkbox {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;

          input[type="checkbox"] {
            display: none;
          }

          .checkmark {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: #21202a;
            border-radius: 10px;
            border: 3px solid #bb5c7f;
            cursor: pointer;
            position: relative;

            &::before {
              content: "\2713";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #000000;
              background-color: #bb5c7f;
              border-radius: 50%;
              width: 18.9px;
              font-size: 17px;
              font-weight: bold;
              visibility: hidden;
            }
          }

          input[type="checkbox"]:checked + .checkmark::before {
            visibility: visible;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          color: #9b9b9f;
          font-size: 14px;
          font-weight: 500;

          p {
            display: flex;
            margin-left: 10px;
            flex-direction: column;
            margin: 0;
          }

          .subContainer {
            display: flex;
            align-items: center;
            gap: 5px;

            span {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .delete {
              display: flex;
              align-items: center;
              margin-left: 12px;
              cursor: pointer;
              gap: 10px;
            }
          }
        }
      }
      ul {
        form {
          margin-left: -20px;
          width: 450px;
          @media (max-width: 767px) {
            width: 270px;
            margin-left: -20px;
          }
        }
        li {
          width: 460px;
          height: 40px;
          margin-left: -35px;
          border-radius: 12px;
          background-color: #21202a;
          display: flex;
          align-items: flex-start;
          padding: 5px;
          gap: 9px;
          position: relative;
          color: #9b9b9f;

          @media (max-width: 767px) {
            width: 280px;
          }

          .custom-checkbox {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            input[type="checkbox"] {
              display: none;
            }

            .checkmark {
              display: inline-block;
              width: 18px;
              height: 18px;
              background: #21202a;
              border-radius: 10px;
              border: 3px solid #bb5c7f;
              cursor: pointer;
              position: relative;

              &::before {
                content: "\2713";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #000000;
                background-color: #bb5c7f;
                border-radius: 50%;
                width: 18.9px;
                font-size: 17px;
                font-weight: bold;
                visibility: hidden;
              }
            }

            input[type="checkbox"]:checked + .checkmark::before {
              visibility: visible;
            }
          }
        }
      }

      .destination {
        width: 500px;
        height: auto;
      }
    }
  }
}
